<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404页面-- 班级说说</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="js/jquery-1.11.3.js"></script>
    <script src="js/bootstrap.js"></script>
    <style>
        a img{
            width: 100px;
            border-radius: 50%;
        }

    </style>
</head>
<body>
<% include header.ejs%>
<div class="jumbotron">
    <div class="container">
        <h2>404 NOT FOUND 请求页面不存在!查询用户主页不存在</h2>
        </div>
    </div>
</div>

</body>
</html>